.profile {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 280px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.description {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
    background-color: blue;
}

.name {
    font-weight: 700;
    text-align: center;
}

.tag {
    text-align: center;
}

.location {
    text-align: center;
}

.stats {
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-bottom: 0;
}

.item {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gainsboro;
    text-align: center;
}

.label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

.quantity {
    font-weight: 700;
    display: block;
}